<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="countdown_banners_banner_listing_data_source" xsi:type="string">SFS\CountdownBanners\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SFS\CountdownBanners\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">countdown_banners</argument>
            <argument name="resourceModel" xsi:type="string">SFS\CountdownBanners\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
</config>
